extends layout

block content
	.container
		form(method="post", action="contact/send")
			h1 Leave you information
			p(style="color: #777;") In order to contact you as soon as possible
			.form-group
			label Name
			input.form-control(type = "text", name="name", placeholder="Enter name")
			.form-group
			label Email
			input.form-control(type = "email", name="email", placeholder="Enter Email")
			.form-group
			label Message
			textarea.form-control(name="message", placeholder="Enter message")
			button(style="margin-top: 20px;").btn.btn-default(type="submit").btn-primary Submit
