extends layout

block content 
	.jumbotron
		.container
			h1.display-3 #{title}
			p Обери предмет відповідно до розкладу - натисни на кнопку
			p 
				a.btn.btn-primary.btn-lg(href='https://t.me/IASA_Student_Council/1169', role='button') Розклад »
	.container
		.block-content2-wrapper
			.block-content2
				h2 Мови штучного інтелекту
				p
					| Тимощук Оксана Леонідівна
				p
					a.btn.btn-secondary(href='https://us04web.zoom.us/j/4607707493?pwd=YWdEb0FvWWQzZ2xVNGs1NkMxSGM0QT09', role='button') Перейти к конференции »

			.block-content2
				h2 Безпека інформаційних систем
				p
					| Мухін Вадим Євгенович
				p
					a.btn.btn-secondary(href='https://us02web.zoom.us/j/4736679085?pwd=NUdEdnRUcUlscjBTeGZvK3hvRk9Ddz09', role='button') Перейти к конференции »

			.block-content2
				h2 Моделювання систем
				p
					| Макаренко Олександр Сергійович
				p
					a.btn.btn-secondary(href='https://us04web.zoom.us/j/73730079803?pwd=aEl4eFkxV0lmOWZyY0YzN1pJQlY5dz09%0A', role='button') Перейти к конференции »
